doctype html

html(lang='en')
    head
        title Arcus Code Assessment
        meta(charset='UTF-8')/
        meta(name='viewport' content='width=device-width, initial-scale=1.0')/
    body
        main 
            map
            weather
